@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.form-control {
  @apply border border-gray-300 dark:border-gray-600 p-2 rounded bg-gray-50 dark:bg-gray-700 dark:text-white;
}

.form-control:focus {
  @apply outline-none border-blue-500 dark:border-blue-600;
}

.form-control:disabled {
  @apply cursor-not-allowed opacity-50;
}

.form-control-white {
  @apply border border-gray-300 p-2 rounded bg-amber-50 dark:bg-gray-50 dark:text-black;
}

.form-control-white:focus {
  @apply outline-none border-blue-500 dark:border-blue-600;
}

.form-control-white:disabled {
  @apply cursor-not-allowed opacity-50;
}

.btn {
  @apply bg-indigo-600 text-white p-2 rounded-full hover:bg-indigo-700 transition-colors;
}

.btn-blue {
  @apply bg-blue-600 text-white p-2 rounded-full hover:bg-blue-700 transition-colors;
}

.booked-day {
  background-color: #fee2e2 !important; /* แดงอ่อน */
  color: #dc2626 !important; /* ตัวอักษรแดง */
  text-decoration: line-through; /* ขีดฆ่า */
  border-radius: 0.5rem;
  pointer-events: none; /* กันคลิกซ้ำอีกชั้น */
}
